.BorderOuterOutlined{
    border-right: none !important;
}

.bg-liner-courses {
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444);
}
.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light{
    border-inline-end: none !important;
    border: none !important;
}

.ant-menu-light .ant-menu-item-selected, .ant-menu-light>.ant-menu .ant-menu-item-selected{
    background: rgba(42, 65, 232, 0.07) !important;
}
.ant-menu-light .ant-menu-item-selected .ant-menu-title-content span{
    color: #2a41e8 !important;
}

.ant-menu-item-selected .ant-menu-title-content span{
    color: rgb(88, 87, 87);
}   

.ant-menu-item{
    margin: 8px 0 !important;
    display: flex !important;
    align-items: center !important;
    height: 45px !important;
    padding-left: 8px !important;
    padding-right: 0 !important;
}

#menu-2 ul li:nth-child(4) .ant-menu-title-content{
    width: 85%;
    padding-right: 8px !important;
    padding-left: 0 !important;
}


#menu-2 .ant-menu-item{
    margin: 2px 0 !important;
    height: 35px !important;
}

#menu-2 .ant-menu-item-selected span{
    color: #2a41e8 !important;

}   

.scroll-bar::-webkit-scrollbar{
    width: 5px !important;
}