.ant-modal-wrap .ant-modal {
    width: 350px !important;
    margin: 0!important;
    margin-right: auto !important;
    padding-bottom: 0 !important;
    top: 0;
}

.ant-modal .ant-modal-content {
    height: 100vh;
    background-color: white !important;
}

.ant-menu-item-selected{
    background: transparent !important;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical{
    width: 100% !important;
}

.ant-modal-footer{
    display: none !important;
}