@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}


html *::-webkit-scrollbar {
    border-radius: 0;
    width: 10px;
  }
  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #abb7c4;
  }
  

.container-90{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.container-80{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}